@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Chivo+Mono&family=Kanit:wght@500&family=Lobster&family=Merriweather:wght@300;700;900&family=Montserrat:wght@100&family=Oswald:wght@200;400;500;600;700&family=Quicksand:wght@300;400;600&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Dirt&family=Rubik+Moonrocks&family=Russo+One&family=Vina+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.container{
    width: 21%;
    height: 52vh;
    background-color: rgba(149, 166, 182, 0.514);
    float: right;
    margin-right: 40%;
    margin-top: 200px;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid black;
}
.head{
    display: flex;
    /* margin-left: 10px; */
    padding-top: 10px;
    background-color: rgb(89, 168, 151);
    border-radius: 5px 5px 0 0;
}
.head h5{
    margin-top: 6px;
    margin-left: 5px;
}
.container .head img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    object-fit: cover;
    margin-left: 10px;
}
.container .head a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.897);
    font-family: 'Lato', sans-serif;
}
.container .head i{
    margin-left: 100px;
    margin-top: 1px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}
/* write-in - time */
.container .write{
    padding: 0 0px;
   margin-top: 78px;
   display: flex;
}
.place textarea{
    border-radius:  2px 0 0 5px ;
    padding: 2px 4px;
    background-color: rgba(127, 255, 212, 0.048);
}
.write .header{
    margin-bottom: 4.5px;
   border-radius: 0 0px 5px 0;
   background-color: rgb(1, 23, 85);
   padding: 2px 12px;
}
.write .header h4{
    margin-top: 6px;
}
.write .header a{
    text-decoration: none;
    color: #ffffffda;
}
.middle{
    padding-top: 4px;
    height: 40vh;
    background-color: rgba(235, 110, 110, 0.534);
}
.middle .hello{
    margin-top: 5px;
    padding: 10px 15px;
    background-color: rgba(240, 248, 255, 0.438);
    border-radius: 20px;
    
}
.middle .paragraph{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.middle .hello1{
    float: right;
    margin-top: 4px;
    padding: 10px 15px;
    background-color: rgba(116, 235, 112, 0.438);
    border-radius: 20px;
 
    
}
.middle .hello2{
    margin-top: 50px;
    padding: 10px 15px;
    background-color: rgba(240, 248, 255, 0.438);
    border-radius: 20px;
    
}
.middle .hello3{
    float: right;
    margin-top: 4px;
    padding: 10px 15px;
    background-color: rgba(116, 235, 112, 0.438);
    border-radius: 20px;
    
}
